In [94]:
import pandas as pd
import numpy as np

In [95]:
trojmiasto_ogloszenia = pd.read_csv('trojmiasto_data_converted.csv', sep='|')
trojmiasto_ogloszenia.head()
trojmiasto_ogloszenia

,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city,overall_price
0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1.0,1,1,0,secondary,null,gdansk,757029.00
1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3.0,0,0,0,secondary,Opacka,gdansk,239976.00
2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4.0,0,0,0,secondary,ul. Tysiąclecia,gdansk,799016.85
3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4.0,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk,629990.40
4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,NaN,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,0.0,0,0,0,secondary,null,gdansk,389025.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7764,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2.0,0,1,0,primary,Serdecznikowa,gdynia,584029.44
7765,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3.0,0,1,0,primary,Serdecznikowa,gdynia,637009.92
7766,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,497448.00
7767,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,490039.20
7768,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,668644.20

In [96]:
trojmiasto_ogloszenia['parking'] = trojmiasto_ogloszenia['parking'] | trojmiasto_ogloszenia['garage']
trojmiasto_ogloszenia = trojmiasto_ogloszenia.drop(columns=['garage'])
trojmiasto_ogloszenia

,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city,overall_price
0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,0,1,1,1.0,1,1,0,secondary,null,gdansk,757029.00
1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,1,0,1,1,3.0,0,0,0,secondary,Opacka,gdansk,239976.00
2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,4.0,0,0,0,secondary,ul. Tysiąclecia,gdansk,799016.85
3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,1,1,0,0,4.0,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk,629990.40
4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,NaN,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0.0,0,0,0,secondary,null,gdansk,389025.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7764,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,0,2.0,0,1,0,primary,Serdecznikowa,gdynia,584029.44
7765,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,0,3.0,0,1,0,primary,Serdecznikowa,gdynia,637009.92
7766,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,497448.00
7767,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,490039.20
7768,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,0,1.0,0,1,0,primary,Serdecznikowa,gdynia,668644.20

In [97]:
otodom_ogloszenia = pd.read_csv('otodom_data_cleaned.csv', sep='|')
otodom_ogloszenia.head()

,title,price[PLN],area[m^2],rooms,floor,market,parking,elevator,build year,internet,building_type,basement,price_per_m2,balkon,ogródek,taras,street,district,city
0,4-pokojowe mieszkanie 65m2 + ogródek Bezpośrednio,819900.0,65.57,4,0,NaN,1,0,NaN,NaN,NaN,NaN,12504.19,0,1,1,ul. Zakole,Stogi,Gdańsk
1,1 pokojowe + balkon INWESTYCYJNIe na DNI OTWARTE,412024.0,26.01,1,2,primary,1,1,NaN,0.0,Mieszkanie,0.0,15840.98,1,0,0,NaN,Śródmieście,Gdańsk
2,Kompleks 5 apartamentów. Wysoki standard,2990000.0,150.00,8,4,secondary,1,0,1929.0,1.0,Mieszkanie,1.0,19933.33,1,0,0,ul. Wójta Radtkego,Śródmieście,Gdynia
3,"Apartament inwestycyjny, ostatnie piętro, k/Sk...",416907.0,24.89,1,5,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,16749.98,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
4,Apartament inwestycyjny Śląska 12 z umową najmu!,475820.0,25.72,1,0,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,18500.00,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk

In [98]:
columns = ['title', 'overall_price', 'area', 'number_of_rooms', 'floor', 'type_of_market', 'parking', 'elevator', 'year_of_creation', 'internet', 'type_of_building', 'basement', 'price_for_m2_in_PLN', 'balcony', 'garden', 'terrace', 'street', 'district', 'city']
trojmiasto_ogloszenia = trojmiasto_ogloszenia[columns]

In [99]:
otodom_ogloszenia.rename(columns={'area[m^2]': 'area','price[PLN]': 'overall_price', 'price_per_m2': 'price_for_m2_in_PLN', 'rooms': 'number_of_rooms', 'market': 'type_of_market', 'build year': 'year_of_creation', 'building_type': 'type_of_building', 'balkon': 'balcony', 'ogródek': 'garden', 'taras': 'terrace'}, inplace=True)
trojmiasto_ogloszenia
otodom_ogloszenia

,title,overall_price,area,number_of_rooms,floor,type_of_market,parking,elevator,year_of_creation,internet,type_of_building,basement,price_for_m2_in_PLN,balcony,garden,terrace,street,district,city
0,4-pokojowe mieszkanie 65m2 + ogródek Bezpośrednio,819900.0,65.57,4,0,NaN,1,0,NaN,NaN,NaN,NaN,12504.19,0,1,1,ul. Zakole,Stogi,Gdańsk
1,1 pokojowe + balkon INWESTYCYJNIe na DNI OTWARTE,412024.0,26.01,1,2,primary,1,1,NaN,0.0,Mieszkanie,0.0,15840.98,1,0,0,NaN,Śródmieście,Gdańsk
2,Kompleks 5 apartamentów. Wysoki standard,2990000.0,150.00,8,4,secondary,1,0,1929.0,1.0,Mieszkanie,1.0,19933.33,1,0,0,ul. Wójta Radtkego,Śródmieście,Gdynia
3,"Apartament inwestycyjny, ostatnie piętro, k/Sk...",416907.0,24.89,1,5,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,16749.98,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
4,Apartament inwestycyjny Śląska 12 z umową najmu!,475820.0,25.72,1,0,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,18500.00,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419,Granaria - Wyspa Spichrzów,1534275.0,68.19,1,1,secondary,0,1,2020.0,0.0,NaN,0.0,22500.00,0,0,0,ul. Chmielna,Śródmieście,Gdańsk
7420,Granaria - Wyspa Spichrzów,1060875.0,47.15,1,1,secondary,0,1,2020.0,0.0,NaN,0.0,22500.00,0,0,0,ul. Chmielna,Śródmieście,Gdańsk
7421,Mieszkanie z widokiem na stocznię gdańską,999000.0,79.10,2,4,secondary,0,0,1902.0,0.0,Mieszkanie,0.0,12629.58,1,0,0,NaN,Młyniska,Gdańsk
7422,3 apartamenty w Gdańsku,1350000.0,70.00,4,1,secondary,0,0,NaN,0.0,Mieszkanie,0.0,19285.71,0,0,0,NaN,Śródmieście,Gdańsk
7423,3 Pokoje- Centrum Miasta - Nad Motławą- Riverview,999000.0,50.40,3,0,secondary,0,0,2020.0,0.0,NaN,0.0,19821.43,0,0,0,ul. Angielska Grobla,Śródmieście,Gdańsk

In [100]:
otodom_ogloszenia.info()
trojmiasto_ogloszenia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7424 entries, 0 to 7423
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                7424 non-null   object
 1   overall_price        7424 non-null   float64
 2   area                 7423 non-null   float64
 3   number_of_rooms      7424 non-null   object
 4   floor                7317 non-null   object
 5   type_of_market       6813 non-null   object
 6   parking              7424 non-null   int64
 7   elevator             7424 non-null   int64
 8   year_of_creation     6014 non-null   float64
 9   internet             6813 non-null   float64
 10  type_of_building     5597 non-null   object
 11  basement             6813 non-null   float64
 12  price_for_m2_in_PLN  7423 non-null   float64
 13  balcony              7424 non-null   int64
 14  garden               7424 non-null   int64
 15  terrace              7424 non-null   int64
 16  street               5962 non-null   object
 17  district             7424 non-null   object
 18  city                 7424 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7769 entries, 0 to 7768
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                7769 non-null   object
 1   overall_price        7765 non-null   float64
 2   area                 7767 non-null   float64
 3   number_of_rooms      7769 non-null   int64
 4   floor                7010 non-null   float64
 5   type_of_market       7769 non-null   object
 6   parking              7769 non-null   int64
 7   elevator             7769 non-null   int64
 8   year_of_creation     7769 non-null   int64
 9   internet             7769 non-null   int64
 10  type_of_building     7769 non-null   object
 11  basement             7769 non-null   int64
 12  price_for_m2_in_PLN  7767 non-null   float64
 13  balcony              7769 non-null   int64
 14  garden               7769 non-null   int64
 15  terrace              7769 non-null   int64
 16  street               7769 non-null   object
 17  district             7743 non-null   object
 18  city                 7769 non-null   object
dtypes: float64(4), int64(9), object(6)
memory usage: 1.1+ MB

In [101]:
trojmiasto_ogloszenia['floor'] = trojmiasto_ogloszenia['floor'].astype(str)
trojmiasto_ogloszenia['number_of_rooms'] = trojmiasto_ogloszenia['number_of_rooms'].astype(str)
trojmiasto_ogloszenia['year_of_creation'] = trojmiasto_ogloszenia['year_of_creation'].astype(float)
trojmiasto_ogloszenia['internet'] = trojmiasto_ogloszenia['internet'].astype(float)
trojmiasto_ogloszenia['basement'] = trojmiasto_ogloszenia['basement'].astype(float)

otodom_ogloszenia.info()
trojmiasto_ogloszenia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7424 entries, 0 to 7423
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                7424 non-null   object
 1   overall_price        7424 non-null   float64
 2   area                 7423 non-null   float64
 3   number_of_rooms      7424 non-null   object
 4   floor                7317 non-null   object
 5   type_of_market       6813 non-null   object
 6   parking              7424 non-null   int64
 7   elevator             7424 non-null   int64
 8   year_of_creation     6014 non-null   float64
 9   internet             6813 non-null   float64
 10  type_of_building     5597 non-null   object
 11  basement             6813 non-null   float64
 12  price_for_m2_in_PLN  7423 non-null   float64
 13  balcony              7424 non-null   int64
 14  garden               7424 non-null   int64
 15  terrace              7424 non-null   int64
 16  street               5962 non-null   object
 17  district             7424 non-null   object
 18  city                 7424 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7769 entries, 0 to 7768
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                7769 non-null   object
 1   overall_price        7765 non-null   float64
 2   area                 7767 non-null   float64
 3   number_of_rooms      7769 non-null   object
 4   floor                7769 non-null   object
 5   type_of_market       7769 non-null   object
 6   parking              7769 non-null   int64
 7   elevator             7769 non-null   int64
 8   year_of_creation     7769 non-null   float64
 9   internet             7769 non-null   float64
 10  type_of_building     7769 non-null   object
 11  basement             7769 non-null   float64
 12  price_for_m2_in_PLN  7767 non-null   float64
 13  balcony              7769 non-null   int64
 14  garden               7769 non-null   int64
 15  terrace              7769 non-null   int64
 16  street               7769 non-null   object
 17  district             7743 non-null   object
 18  city                 7769 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 1.1+ MB

In [102]:
merged_data = pd.concat([otodom_ogloszenia, trojmiasto_ogloszenia], ignore_index=True)
merged_data

,title,overall_price,area,number_of_rooms,floor,type_of_market,parking,elevator,year_of_creation,internet,type_of_building,basement,price_for_m2_in_PLN,balcony,garden,terrace,street,district,city
0,4-pokojowe mieszkanie 65m2 + ogródek Bezpośrednio,819900.00,65.57,4,0,NaN,1,0,NaN,NaN,NaN,NaN,12504.19,0,1,1,ul. Zakole,Stogi,Gdańsk
1,1 pokojowe + balkon INWESTYCYJNIe na DNI OTWARTE,412024.00,26.01,1,2,primary,1,1,NaN,0.0,Mieszkanie,0.0,15840.98,1,0,0,NaN,Śródmieście,Gdańsk
2,Kompleks 5 apartamentów. Wysoki standard,2990000.00,150.00,8,4,secondary,1,0,1929.0,1.0,Mieszkanie,1.0,19933.33,1,0,0,ul. Wójta Radtkego,Śródmieście,Gdynia
3,"Apartament inwestycyjny, ostatnie piętro, k/Sk...",416907.00,24.89,1,5,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,16749.98,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
4,Apartament inwestycyjny Śląska 12 z umową najmu!,475820.00,25.72,1,0,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,18500.00,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15188,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,584029.44,56.33,3,2.0,primary,1,0,2024.0,1.0,Mieszkanie,1.0,10368.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15189,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,637009.92,61.44,3,3.0,primary,1,0,2024.0,1.0,Mieszkanie,1.0,10368.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15190,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,497448.00,47.00,2,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10584.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15191,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,490039.20,46.30,2,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10584.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15192,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,668644.20,65.17,3,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10260.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia

In [103]:
merged_data.to_csv('dataset.csv', sep='|', index=False)

In [104]:
data = pd.read_csv('dataset.csv', sep='|')
data

,title,overall_price,area,number_of_rooms,floor,type_of_market,parking,elevator,year_of_creation,internet,type_of_building,basement,price_for_m2_in_PLN,balcony,garden,terrace,street,district,city
0,4-pokojowe mieszkanie 65m2 + ogródek Bezpośrednio,819900.00,65.57,4,0,NaN,1,0,NaN,NaN,NaN,NaN,12504.19,0,1,1,ul. Zakole,Stogi,Gdańsk
1,1 pokojowe + balkon INWESTYCYJNIe na DNI OTWARTE,412024.00,26.01,1,2,primary,1,1,NaN,0.0,Mieszkanie,0.0,15840.98,1,0,0,NaN,Śródmieście,Gdańsk
2,Kompleks 5 apartamentów. Wysoki standard,2990000.00,150.00,8,4,secondary,1,0,1929.0,1.0,Mieszkanie,1.0,19933.33,1,0,0,ul. Wójta Radtkego,Śródmieście,Gdynia
3,"Apartament inwestycyjny, ostatnie piętro, k/Sk...",416907.00,24.89,1,5,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,16749.98,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
4,Apartament inwestycyjny Śląska 12 z umową najmu!,475820.00,25.72,1,0,secondary,0,1,2022.0,1.0,Mieszkanie,0.0,18500.00,0,0,0,ul. Śląska 12,Przymorze Małe,Gdańsk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15188,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,584029.44,56.33,3,2.0,primary,1,0,2024.0,1.0,Mieszkanie,1.0,10368.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15189,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,637009.92,61.44,3,3.0,primary,1,0,2024.0,1.0,Mieszkanie,1.0,10368.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15190,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,497448.00,47.00,2,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10584.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15191,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,490039.20,46.30,2,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10584.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia
15192,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,668644.20,65.17,3,1.0,primary,1,0,2025.0,1.0,Mieszkanie,1.0,10260.00,1,0,0,Serdecznikowa,Dąbrowa,gdynia