# Conversion of the data from trojmiasto.pl to the same format as the data from otodom.pl and joining them

### Importing necessary libraries

In [26]:
import pandas as pd
import numpy as np

In [27]:
trojmiasto_data = pd.read_csv('ogloszenia.csv', sep='|')

## Displaying the data

In [28]:
trojmiasto_data

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Gdańsk Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary
1,1,Wysoki standard 4 pok Oliwa kameralne,"Gdańsk Oliwa, Opacka",99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary
2,2,"Piękne 3 pokoje po remoncie, przy plaży","Gdańsk Jelitkowo, ul. Tysiąclecia",41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary
3,3,Widok na Jar Wilanowski - blok przy samym Parku,"Gdańsk Chełm, Prof. Romualda Cebertowicza",63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,Gdańsk,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,"Gdynia Dąbrowa, Serdecznikowa",56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,"Gdynia Dąbrowa, Serdecznikowa",61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,"Gdynia Dąbrowa, Serdecznikowa",47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,"Gdynia Dąbrowa, Serdecznikowa",46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,"Gdynia Dąbrowa, Serdecznikowa",65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary

## Conversion of the data from trojmiasto.pl

### Cleaning the data

In [29]:
trojmiasto_data.drop(trojmiasto_data.columns[0], axis=1)

,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market
0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Gdańsk Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary
1,Wysoki standard 4 pok Oliwa kameralne,"Gdańsk Oliwa, Opacka",99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary
2,"Piękne 3 pokoje po remoncie, przy plaży","Gdańsk Jelitkowo, ul. Tysiąclecia",41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary
3,Widok na Jar Wilanowski - blok przy samym Parku,"Gdańsk Chełm, Prof. Romualda Cebertowicza",63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary
4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,Gdańsk,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,"Gdynia Dąbrowa, Serdecznikowa",56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary
8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,"Gdynia Dąbrowa, Serdecznikowa",61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary
8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,"Gdynia Dąbrowa, Serdecznikowa",47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,"Gdynia Dąbrowa, Serdecznikowa",46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,"Gdynia Dąbrowa, Serdecznikowa",65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary

### Adding latitude and longitude columns based on Nominatim module and district column

### Conversion of the district column

In [30]:
# Adding a comma in rows where it is missing
trojmiasto_data['district'] = trojmiasto_data['district'].apply(lambda x: x if ',' in x else x + ', null')
trojmiasto_data

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,"Gdańsk Letnica, null",59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary
1,1,Wysoki standard 4 pok Oliwa kameralne,"Gdańsk Oliwa, Opacka",99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary
2,2,"Piękne 3 pokoje po remoncie, przy plaży","Gdańsk Jelitkowo, ul. Tysiąclecia",41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary
3,3,Widok na Jar Wilanowski - blok przy samym Parku,"Gdańsk Chełm, Prof. Romualda Cebertowicza",63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,"Gdańsk, null",75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,"Gdynia Dąbrowa, Serdecznikowa",56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,"Gdynia Dąbrowa, Serdecznikowa",61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,"Gdynia Dąbrowa, Serdecznikowa",47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,"Gdynia Dąbrowa, Serdecznikowa",46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,"Gdynia Dąbrowa, Serdecznikowa",65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary

In [31]:
# Splitting district column into two columns
trojmiasto_data[['district', 'street']] = trojmiasto_data['district'].str.split(',', expand=True)

In [32]:
converted_trojmiasto = trojmiasto_data
converted_trojmiasto

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Gdańsk Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null
1,1,Wysoki standard 4 pok Oliwa kameralne,Gdańsk Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Gdańsk Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Gdańsk Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,Gdańsk,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Gdynia Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Gdynia Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Gdynia Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Gdynia Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Gdynia Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa

In [33]:
# Adding a comma in rows where it is missing
converted_trojmiasto['district'] = converted_trojmiasto['district'].apply(lambda x: x if ' ' in x else x + ' null')
converted_trojmiasto

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Gdańsk Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null
1,1,Wysoki standard 4 pok Oliwa kameralne,Gdańsk Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Gdańsk Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Gdańsk Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,Gdańsk null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Gdynia Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Gdynia Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Gdynia Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Gdynia Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Gdynia Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa

In [34]:
# Splitting district column into two columns based on first space
converted_trojmiasto[['city', 'district']] = converted_trojmiasto['district'].str.split(' ', n=1, expand=True)
converted_trojmiasto

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,Gdańsk
1,1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,Gdańsk
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,Gdańsk
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,Gdańsk
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary,null,Gdańsk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,Gdynia
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,Gdynia
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,Gdynia
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,Gdynia
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,Gdynia

In [35]:
# Converting all cities to lowercase
converted_trojmiasto['city'] = converted_trojmiasto['city'].str.lower()
converted_trojmiasto['city'].value_counts()

city
gdynia     4567
gdańsk     3053
sopot       381
gdansk        3
gdański       3
Name: count, dtype: int64

In [36]:
# Dropping the rows with city 'gdański'
converted_trojmiasto = converted_trojmiasto[converted_trojmiasto['city'] != 'gdański']

In [37]:
converted_trojmiasto['city'].value_counts()

city
gdynia    4567
gdańsk    3053
sopot      381
gdansk       3
Name: count, dtype: int64

In [38]:
#replacing the 'ń' character with 'n'
converted_trojmiasto['city'] = converted_trojmiasto['city'].str.replace('ń', 'n')
converted_trojmiasto['city'].value_counts()

C:\Users\kubak\AppData\Local\Temp\ipykernel_6072\1172770338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  converted_trojmiasto['city'] = converted_trojmiasto['city'].str.replace('ń', 'n')

city
gdynia    4567
gdansk    3056
sopot      381
Name: count, dtype: int64

In [39]:
trojmiasto_data_converted = converted_trojmiasto

In [40]:
trojmiasto_data_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8004 entries, 0 to 8006
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8004 non-null   int64
 1   title                8004 non-null   object
 2   district             8004 non-null   object
 3   area                 8002 non-null   float64
 4   number_of_rooms      8004 non-null   int64
 5   year_of_creation     8004 non-null   int64
 6   price_for_m2_in_PLN  8002 non-null   float64
 7   type_of_building     8004 non-null   object
 8   garage               8004 non-null   int64
 9   balcony              8004 non-null   int64
 10  internet             8004 non-null   int64
 11  parking              8004 non-null   int64
 12  elevator             8004 non-null   int64
 13  floor                7219 non-null   object
 14  terrace              8004 non-null   int64
 15  basement             8004 non-null   int64
 16  garden               8004 non-null   int64
 17  type_of_market       8004 non-null   object
 18  street               8004 non-null   object
 19  city                 8004 non-null   object
dtypes: float64(2), int64(11), object(7)
memory usage: 1.3+ MB

In [41]:
trojmiasto_data_converted

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,gdansk
1,1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,gdansk
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,gdansk
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary,null,gdansk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,gdynia
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,gdynia
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia

In [42]:
trojmiasto_data_converted = trojmiasto_data_converted.drop_duplicates(subset=['title', 'area', 'price_for_m2_in_PLN', 'year_of_creation', 'district', 'number_of_rooms', 'type_of_building', 'street'])

In [43]:
trojmiasto_data_converted

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,gdansk
1,1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,gdansk
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,gdansk
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,Parter,0,0,0,secondary,null,gdansk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,gdynia
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,gdynia
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia

In [44]:
trojmiasto_data_converted['floor'] = trojmiasto_data_converted['floor'].replace('Parter', '0')
trojmiasto_data_converted

C:\Users\kubak\AppData\Local\Temp\ipykernel_6072\3838199251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trojmiasto_data_converted['floor'] = trojmiasto_data_converted['floor'].replace('Parter', '0')

,Unnamed: 0,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city
0,0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,gdansk
1,1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,gdansk
2,2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,gdansk
3,3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk
4,4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,0,0,0,0,secondary,null,gdansk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,gdynia
8003,8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,gdynia
8004,8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8005,8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8006,8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia

In [45]:
trojmiasto_data_converted.info()
trojmiasto_data_converted.drop(trojmiasto_data_converted.columns[0], axis=1)

<class 'pandas.core.frame.DataFrame'>
Index: 7769 entries, 0 to 8006
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7769 non-null   int64
 1   title                7769 non-null   object
 2   district             7769 non-null   object
 3   area                 7767 non-null   float64
 4   number_of_rooms      7769 non-null   int64
 5   year_of_creation     7769 non-null   int64
 6   price_for_m2_in_PLN  7767 non-null   float64
 7   type_of_building     7769 non-null   object
 8   garage               7769 non-null   int64
 9   balcony              7769 non-null   int64
 10  internet             7769 non-null   int64
 11  parking              7769 non-null   int64
 12  elevator             7769 non-null   int64
 13  floor                7010 non-null   object
 14  terrace              7769 non-null   int64
 15  basement             7769 non-null   int64
 16  garden               7769 non-null   int64
 17  type_of_market       7769 non-null   object
 18  street               7769 non-null   object
 19  city                 7769 non-null   object
dtypes: float64(2), int64(11), object(7)
memory usage: 1.2+ MB

,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city
0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,gdansk
1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,gdansk
2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,gdansk
3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk
4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,0,0,0,0,secondary,null,gdansk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,gdynia
8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,gdynia
8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia
8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia

In [46]:
trojmiasto_data_converted['overall_price'] = trojmiasto_data_converted['price_for_m2_in_PLN'] * trojmiasto_data_converted['area']
trojmiasto_data_converted = trojmiasto_data_converted.drop(trojmiasto_data_converted.columns[0], axis=1)
trojmiasto_data_converted

C:\Users\kubak\AppData\Local\Temp\ipykernel_6072\3509613148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trojmiasto_data_converted['overall_price'] = trojmiasto_data_converted['price_for_m2_in_PLN'] * trojmiasto_data_converted['area']

,title,district,area,number_of_rooms,year_of_creation,price_for_m2_in_PLN,type_of_building,garage,balcony,internet,parking,elevator,floor,terrace,basement,garden,type_of_market,street,city,overall_price
0,3pok 50m2 taras 10m2 blisko morza IIQ24 SE,Letnica,59.00,3,2024,12831.0,Mieszkanie,1,1,0,0,1,1,1,1,0,secondary,null,gdansk,757029.00
1,Wysoki standard 4 pok Oliwa kameralne,Oliwa,99.00,4,2020,2424.0,Mieszkanie,0,1,0,1,1,3,0,0,0,secondary,Opacka,gdansk,239976.00
2,"Piękne 3 pokoje po remoncie, przy plaży",Jelitkowo,41.07,3,1970,19455.0,Mieszkanie,0,0,0,0,0,4,0,0,0,secondary,ul. Tysiąclecia,gdansk,799016.85
3,Widok na Jar Wilanowski - blok przy samym Parku,Chełm,63.10,3,1989,9984.0,Mieszkanie,0,1,1,0,0,4,0,1,0,secondary,Prof. Romualda Cebertowicza,gdansk,629990.40
4,Energooszczędne Mieszkanie 75m2 - 4 pokoje,null,75.00,4,2024,5187.0,Mieszkanie,0,0,0,0,0,0,0,0,0,secondary,null,gdansk,389025.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 56.33 m2,Dąbrowa,56.33,3,2024,10368.0,Mieszkanie,1,1,1,1,0,2,0,1,0,primary,Serdecznikowa,gdynia,584029.44
8003,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 61.44 m2,Dąbrowa,61.44,3,2024,10368.0,Mieszkanie,1,1,1,1,0,3,0,1,0,primary,Serdecznikowa,gdynia,637009.92
8004,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 47.22 ...,Dąbrowa,47.00,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia,497448.00
8005,INPRO S.A. - OPTIMA - mieszkanie 2-pok. 46.30 ...,Dąbrowa,46.30,2,2025,10584.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia,490039.20
8006,INPRO S.A. - OPTIMA - mieszkanie 3-pok. 65.17 ...,Dąbrowa,65.17,3,2025,10260.0,Mieszkanie,1,1,1,1,0,1,0,1,0,primary,Serdecznikowa,gdynia,668644.20

In [47]:
trojmiasto_data_converted.to_csv('trojmiasto_data_converted.csv', sep='|', index=False)